@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: sans-serif;
  font-size: 1.6rem; }

.header {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.523), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header img {
    width: 10%;
    padding: 3%; }
  .header .header__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .header .header__text h1 {
      font-size: 6.2rem;
      letter-spacing: 1rem;
      animation: moveRight 1s; }
    .header .header__text h2 {
      font-size: 3.2rem;
      letter-spacing: 0.5rem;
      animation: moveLeft 1s; }
    .header .header__text a {
      position: relative;
      text-decoration: none;
      border-radius: 2rem;
      padding: 1% 1%;
      background-color: white;
      color: #28b485;
      width: 30%;
      animation: moveTop 1s; }
      .header .header__text a::after {
        display: inline-block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        padding: 1% 1%;
        background-color: white;
        color: #28b485;
        z-index: -1;
        transition: all 0.5s;
        animation-name: btn;
        animation-duration: 1s;
        animation-iteration-count: infinite; }

@keyframes btn {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.3);
    opacity: 0; } }

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveTop {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 12rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 12rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 18rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 18rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 18rem) / 4) + 12rem); }

.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -25vh; }

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s;
  letter-spacing: 0.2rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #333; }

.text-box {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333; }
  .text-box:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom--big {
  margin-bottom: 8rem; }

.btn-text {
  transition: all 0.2s; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #7ed56f;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #7ed56f; }
  .btn-text:hover {
    color: white;
    padding: 3px;
    background-color: #7ed56f;
    transform: translateY(-0.5rem); }
  .btn-text:active {
    transform: translateY(0); }

.card-section-btn {
  position: relative;
  text-decoration: none;
  border-radius: 2rem;
  padding: 1% 1%;
  background-color: #7ed56f;
  color: white;
  width: 30%;
  display: block;
  margin: 0 auto;
  text-align: center; }
  .card-section-btn::after {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding: 1% 1%;
    background-color: #7ed56f;
    color: white;
    z-index: -1;
    transition: all 0.5s;
    animation-name: btn;
    animation-duration: 1s;
    animation-iteration-count: infinite; }

.compositions {
  position: relative; }
  .compositions img {
    position: absolute;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem; }
  .compositions__photo1 {
    margin-top: -5%; }
  .compositions__photo2 {
    margin-left: 40%; }
  .compositions__photo3 {
    margin-top: 20%;
    margin-left: 20%; }
  .compositions img:hover {
    outline: 1rem solid #55c57a;
    outline-offset: 1rem;
    outline-style: groove;
    border-radius: 1rem;
    transform: scale(1.1);
    z-index: 1;
    transition: all 0.5s; }
  .compositions:hover img:not(:hover) {
    transform: scale(0.9);
    transition: 0.5s; }

.features {
  background-image: linear-gradient(rgba(0, 0, 0, 0.523), rgba(0, 0, 0, 0.5)), url(../../img/nat-4.jpg);
  background-position: center;
  background-size: cover;
  transform: skewY(-5deg);
  margin-bottom: 10%;
  padding: 10%;
  margin-top: -5%; }
  .features > * {
    transform: skewY(5deg);
    text-align: center; }
  .features .row .col-1-of-4 {
    background-color: #eee;
    padding: 2%;
    border-radius: 0.5rem;
    opacity: 0.9; }
    .features .row .col-1-of-4 i {
      font-size: 5rem;
      display: inline-block;
      margin-bottom: 20%;
      color: transparent;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      background-clip: text;
      -webkit-background-clip: text; }
    .features .row .col-1-of-4:hover {
      transform: scale(1.05) translateY(-5%);
      transition: all 0.5s; }

.card {
  position: relative;
  height: 70vh;
  width: 100%;
  perspective: 1500px;
  transition: all 1s;
  transition: all 1s; }
  .card__frontcard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 1s;
    border-radius: 1rem; }
    .card__frontcard--img {
      background-image: url(../../img/nat-5.jpg);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 40%;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      background-blend-mode: screen; }
    .card__frontcard .imgcard1 {
      background-color: #ff7730; }
    .card__frontcard .imgcard2 {
      background-color: #55c57a; }
    .card__frontcard .imgcard3 {
      background-color: #5643fa; }
    .card__frontcard h3 {
      width: 40%;
      display: inline-block;
      text-align: end;
      margin-left: 50%;
      color: white;
      position: absolute;
      padding: 2%;
      margin-top: -15%;
      opacity: 0.9;
      box-decoration-break: clone; }
    .card__frontcard .h3-1 {
      background-color: #ffb900; }
    .card__frontcard .h3-2 {
      background-color: #7ed56f; }
    .card__frontcard .h3-3 {
      background-color: #2998ff; }
    .card__frontcard--text {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10%;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5%;
      padding-top: 15%; }
      .card__frontcard--text p:not(:last-child) {
        border-bottom: 1px solid #eee;
        padding: 2%; }
  .card__backcard {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotateY(180deg);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 1s;
    backface-visibility: hidden;
    border-radius: 1rem; }
    .card__backcard a {
      text-decoration: none;
      color: black;
      padding: 5% 10%;
      border-radius: 40px;
      background-color: white; }
    .card__backcard h1 {
      font-size: 62px; }
  .card .backcard1 {
    background-color: #ffb900; }
  .card .backcard2 {
    background-color: #7ed56f; }
  .card .backcard3 {
    background-color: #2998ff; }
  .card:hover .card__frontcard {
    transform: rotateY(-180deg);
    transition: all 1s; }
  .card:hover .card__backcard {
    transform: rotateY(0);
    transition: all 1s; }

footer {
  padding: 5%;
  background-color: #333;
  color: white;
  text-align: center; }
  footer a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: inline-block; }
  footer a:hover {
    color: #55c57a;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    transform: skewY(5deg) scale(1.1);
    padding: 0.5rem; }
  footer .footer-text {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%; }
    footer .footer-text__footbar a {
      margin-left: 2%; }
    footer .footer-text p {
      text-align: start;
      line-height: 1.5; }

.testimonials {
  margin-top: 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.523), rgba(0, 0, 0, 0.5));
  position: relative;
  height: 100vh; }
  .testimonials .bgvideo {
    z-index: -1;
    position: absolute;
    overflow: hidden; }
    .testimonials .bgvideo__video {
      object-fit: cover;
      width: 99vw;
      height: 100vh; }
  .testimonials .testimonials-grid {
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%; }
    .testimonials .testimonials-grid .heading-secondary {
      text-align: center; }
    .testimonials .testimonials-grid .testimonials__first {
      background-color: white;
      opacity: 0.8;
      padding: 3%;
      transform: skewX(-15deg); }
      .testimonials .testimonials-grid .testimonials__first > * {
        transform: skewX(15deg); }
      .testimonials .testimonials-grid .testimonials__first--img {
        position: relative;
        float: left;
        object-fit: cover;
        width: 12rem;
        height: 12rem;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        margin-right: 5%; }
        .testimonials .testimonials-grid .testimonials__first--img img {
          object-fit: cover;
          width: 12rem;
          height: 12rem;
          transform: scale(1.5);
          transition: 0.3s; }
        .testimonials .testimonials-grid .testimonials__first--img p {
          position: absolute;
          top: 50%;
          left: 10%;
          color: white;
          font-size: 2rem;
          opacity: 0;
          width: 100%;
          transition: 0.3s; }
      .testimonials .testimonials-grid .testimonials__first p {
        margin-top: 2%;
        line-height: 2; }
      .testimonials .testimonials-grid .testimonials__first:hover img {
        transform: scale(1);
        filter: blur(0.2rem); }
      .testimonials .testimonials-grid .testimonials__first:hover p {
        top: 3.5rem;
        opacity: 1; }
    .testimonials .testimonials-grid .btn-text {
      justify-self: center;
      padding: 1%;
      border: 2px solid #7ed56f; }

.navigation__check {
  display: none; }

.navigation__label {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  text-align: center;
  z-index: 300;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  top: 5rem;
  right: 5rem; }

.navigation__back {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 200;
  top: 5.5rem;
  right: 5.5rem;
  transition: all 0.6s; }

.navigation__check:checked ~ .navigation__back {
  transform: scale(50); }

.navigation__menu {
  position: fixed;
  height: 100vh;
  width: 0%;
  top: 0;
  left: 0;
  z-index: 250;
  opacity: 1;
  visibility: hidden; }

.navigation__check:checked ~ .navigation__menu {
  visibility: visible;
  width: 100%;
  opacity: 1; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  line-height: 2;
  transition: all 0.5s cubic-bezier(0.28, 1.99, 0.77, 1.06);
  opacity: 0; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: 400;
  background-image: linear-gradient(130deg, transparent 0%, transparent 50%, white 50%);
  background-size: 261%;
  padding: 0% 1%; }

.navigation__link:hover {
  background-position: right;
  color: black;
  transition: 0.5s;
  transform: translateX(1rem); }

.navigation__check:checked ~ .navigation__menu .navigation__list {
  left: 50%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  width: 3rem;
  height: 2px;
  background-color: #1f1e1e;
  display: inline-block;
  margin-top: 50%; }
  .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #1f1e1e;
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    transition: 0.3s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__label:hover .navigation__icon::before {
  top: -1rem; }

.navigation__label:hover .navigation__icon::after {
  top: 1rem; }

.navigation__check:checked + .navigation__label .navigation__icon {
  background-color: transparent; }
  .navigation__check:checked + .navigation__label .navigation__icon::before {
    top: 0;
    transform: rotate(-45deg); }
  .navigation__check:checked + .navigation__label .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0; }
  .popup:target {
    visibility: visible;
    opacity: 1;
    transition: all 1s; }
  .popup:target .popup__content {
    visibility: visible;
    opacity: 1;
    transition: all 1s; }
  .popup__content {
    width: 70%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3%;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    position: absolute; }
    .popup__content .bookx {
      position: absolute;
      right: 2%;
      top: 2%;
      font-size: 3rem;
      color: grey; }
      .popup__content .bookx:hover {
        color: #55c57a; }
    .popup__content--left {
      display: flex;
      flex-direction: column; }
      .popup__content--left img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .popup__content--right {
      padding: 5%; }
      .popup__content--right h2,
      .popup__content--right h3 {
        margin-bottom: 3%; }
      .popup__content--right-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        line-height: 1.5; }
        .popup__content--right-text-1 {
          border-right: 1px solid grey;
          padding-right: 10%; }
      .popup__content--right a {
        text-decoration: none;
        color: white;
        padding: 5% 5%;
        border-radius: 40px;
        background-color: #7ed56f;
        text-align: center; }

.form {
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form__bg {
    background-image: url(/img/nat-10.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 70%; }
    .form__bg--form {
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
      width: 55%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
      padding: 5%;
      padding-right: 10%; }
      .form__bg--form form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20%; }
        .form__bg--form form input {
          padding: 3% 2%;
          border: 0;
          outline: none; }
          .form__bg--form form input:focus {
            border-bottom: 2px solid #28b485; }
          .form__bg--form form input:invalid {
            border-bottom: 2px solid red; }
          .form__bg--form form input:placeholder-shown {
            border: 0; }
        .form__bg--form form .radio {
          display: flex;
          gap: 5%; }
          .form__bg--form form .radio input,
          .form__bg--form form .radio label {
            cursor: pointer; }
        .form__bg--form form button {
          background-color: #7ed56f;
          color: white;
          padding: 3% 5%;
          width: 40%;
          border-radius: 4rem;
          border: 0;
          font-size: 1.6rem;
          cursor: pointer; }
