/* 
COLORS:

LightGreen: #7ed56f
MediumGreen: #55c57a
DarkGreen: #28b485

*/
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// html {
//   font-size: 62.5%;
// }
// body {
//   font-family: sans-serif;
//   font-size: 1.6rem;
// }
// .header {
//   height: 80vh;
//   background-image: linear-gradient(rgb(0, 0, 0, 0.523), rgb(0, 0, 0, 0.5)),
//     url(hero.jpg);
//   background-position: center;
//   background-size: cover;
//   clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
// }
// .header img {
//   width: 10%;
//   padding: 3%;
// }
// .header__text {
//   display: flex;
//   flex-direction: column;
//   gap: 2rem;
//   color: white;
//   text-align: center;
//   justify-content: center;
//   align-items: center;
// }
// .header__text h1 {
//   font-size: 5.2rem;
//   letter-spacing: 0.5rem;
// }
// .header__text a {
//   position: relative;
//   text-decoration: none;
//   border-radius: 2rem;
//   padding: 1% 1%;
//   background-color: white;
//   color: #28b485;
//   width: 30%;
//   /* animation-name: btn;
//   animation-duration: 1s;
//   animation-iteration-count: infinite; */
// }
// .header__text a::after {
//   display: inline-block;
//   position: absolute;
//   content: "";
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 2rem;
//   padding: 1% 1%;
//   background-color: white;
//   color: #28b485;
//   z-index: -1;
//   transition: all 0.5s;

//   animation-name: btn;
//   animation-duration: 1s;
//   animation-iteration-count: infinite;
// }
// @keyframes btn {
//   0% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(1.3);
//     opacity: 0;
//   }
// }
// .jpg,
// .jpg0 {
//   height: 50vh;
//   width: 1000px;
// }
// .jpg {
//   clip-path: polygon(0 0, 100% 0, 0 100%);
// }
// .jpg0 {
//   clip-path: polygon(100% 0, 100% 100%, 0 100%);
// }
// .jp {
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }
// .jpg1 {
//   clip-path: circle(30% at 0 0);
// }
// .jpg2 {
//   clip-path: circle(30% at 100% 0);
// }
// .jpg3 {
//   clip-path: circle(30% at 100% 100%);
// }
// .jpg4 {
//   clip-path: circle(30% at 0 100%);
// }
// .jpg5 {
//   clip-path: circle(30% at 50% 50%);
// }

$color-nav: #2699fb;
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: $color-nav;
  color: white;

  a {
    text-decoration: none;
  }
}
