footer {
  margin-top: 5%;
  padding: 5%;
  background-color: #333;
  color: white;
  text-align: center;

  a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: inline-block;
  }
  a:hover {
    color: $MediumGreen;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    transform: skewY(5deg) scale(1.1);
    padding: 0.5rem;
  }

  .footer-text {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;

    &__footbar {
      a {
        margin-left: 2%;
      }
    }

    p {
      text-align: start;
    }
  }
}
