.features {
  background-image: $bg-dark, url(../../img/nat-4.jpg);
  @include bgcenter;
  transform: skewY(-5deg);

  > * {
    transform: skewY(5deg);
    text-align: center;
  }
  padding: 10%;
  margin-top: -5%;

  .row {
    // padding-top: 12%;

    .col-1-of-4 {
      background-color: #eee;
      padding: 2%;
      border-radius: 0.5rem;
      opacity: 0.9;
      i {
        font-size: 5rem;
        display: inline-block;
        margin-bottom: 20%;
        color: transparent;
        background-image: linear-gradient(to right, $LightGreen, $DarkGreen);
        background-clip: text;
        -webkit-background-clip: text;
      }
      &:hover {
        transform: scale(1.05) translateY(-5%);
        transition: all 0.5s;
      }
    }
  }
}
